@charset "utf-8";
/*footer*/
#pub_footer {
    background: none repeat scroll 0 0 #FBFBFB;
    border-top: 1px solid #D5D5D5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 120px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.pub_footer_in {
    height: 120px;
    margin: 25px auto 0;
    width: 960px;
}
.pub_footer_in_left {
    background: url("/includes/images/common/bottom/d_logo.jpg") no-repeat scroll right top transparent;
    float: left;
    height: 120px;
    width: 202px;
}
.pub_footer_in_left a {
    display: block;
    float: right;
    height: 50px;
    width: 119px;
}
.pub_footer_in_right {
    float: left;
    height: 120px;
    width: 750px;
	margin:0;
}
.pub_footer_in_right dl {
    height: 52px;
	margin:0;
}
.pub_footer_in_right dl dd {
    color: #999999;
	margin-left:10px;
}
.pub_footer_in_right dl .dd_1 a {
    color: #464646;
    margin: 0 8px;
    text-decoration: none;
}
.pub_footer_in_right dl .dd_1 a:hover {
    color: #F18D00;
    text-decoration: underline;
}
.pub_footer_in_right dl .dd_2 {
    padding: 5px 0 0 8px;
}
.pub_footer_in_right dl .dd_2 a {
    color: #999999;
    padding-right: 8px;
    text-decoration: none;
}
.pub_footer_in_right dl .dd_2 a:hover {
    color: #464646;
    text-decoration: underline;
}
.pub_tb {
    height: 45px;
    margin: 8px 0 0 15px;
}
.pub_tb ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.pub_tb ul li {
    float: left;
}
.pub_tb ul li a {
    margin-right: 20px;
}

