
.game_footer{
    border-top: 2px solid #CCCCCC;
    color: #737573;
    height: 38px;
    line-height: 38px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;                                                                      }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio[controls], canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
body {
    background: url("/static/img/bg.png?2013031915") repeat scroll 0 0 #EEEEEE;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    color: #666666;
    font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #084B91;
    color: #FFFFFF;
    text-shadow: none;
}
a {
    color: #407ACC;
    text-decoration: none;
}
a:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0 none;
    text-decoration: underline;
}
abbr[title] {
    border-bottom: 1px dotted #999999;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 20px 0;
    padding: 0;
}
ins {
    background: none repeat scroll 0 0 #FFFF99;
    color: #000000;
    text-decoration: none;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}
pre, code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 85%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul, ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
dd {
    margin: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
    display: block;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    border: 0 none;
    padding: 0;
}
label {
    cursor: pointer;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
:-moz-placeholder {
    color: #DDDDDD;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input:invalid, textarea:invalid {
    background: none repeat scroll 0 0 #F0DDDD;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    color: #6B7985;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 13px;
}

input {
    border: 1px solid #DDDDDD;
    float: left;
    height: 15px;
    margin-bottom: 20px;
    outline: 0 none;
    padding: 9px;
}
body {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #666666;
    margin: 0;
    padding: 0;
    font-family: 微软雅黑, Verdana, sans-serif, 宋体;
}
input, button {
    border: 1px solid #DDDDDD;
    font-size: 13px;
    height: auto;
    margin: 0;
}
img {
    display: inline;
}
a {
    color: #6B7985;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #084B91;
    text-decoration: none;
}
fieldset {
    border-color: #BEBEC0;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 0 10px 0 18px;
}
legend {
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}
span {
    display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
    color: #6B7985;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 13px;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul li {
    line-height: 1;
}
.container {
    margin: 60px auto 0;
    width: 1000px;
}
i {
    background-image: url("/imgs/tag.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.header {
    background-color: #3E62A6;
    color: #FFFFFF;
    height: 45px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.header .logo {
    float: left;
    margin: 2px 0 0;
}
.header .hd-content {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.header ul.nav-links {
    float: left;
    margin: 0 0 0 20px;
}
.header ul.nav-links li {
    float: left;
}
.header ul.nav-links li a {
    color: #FFFFFF;
    display: block;
    padding: 15px 10px;
}
.header ul.nav-links li a:hover, .header ul.nav-links li a.selected {
    background: none repeat scroll 0 0 #203148;
    text-decoration: none;
}
.header ul.nav-links li a.selected {
    border-left: 1px solid #445A77;
    border-right: 1px solid #445A77;
}
.search {
    float: right;
    margin: 10px 16px;
}
.search .search-input-wrapper {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    color: #666666;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 1;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 2px 8px;
}
.search .search-input {
    border: medium none;
    float: none;
    padding: 2px;
}
.search .search-reset {
    cursor: pointer;
    display: none;
    margin: 0 0 0 3px;
}
.search .search-btn {
    background-position: -300px 0;
    cursor: pointer;
    height: 20px;
    margin: 3px 0 0 5px;
    width: 25px;
}
.close {
    cursor: pointer;
    padding: 2px 3px;
    position: absolute;
    right: 10px;
    top: 14px;
}
.close:hover {
    background-color: grey;
    color: #FFFFFF;
}
.linkinput {
    background-color: #E8E7E6;
    display: none;
    font-size: 13px;
    padding: 10px 0 10px 182px;
    position: relative;
}
.linkinput input {
    height: 27px;
    line-height: 27px;
    padding: 0 5px;
    width: 565px;
}
.linkinput button {
    border-radius: 2px 2px 2px 2px;
    color: #7C7C7C;
    display: inline-block;
    height: 29px;
    line-height: 26px;
    margin-left: -1px;
    padding: 0 15px;
}
.linkinput button:hover {
    background-color: #E2E2E2;
}
.bd {
    background: url("/imgs/main_bg.png") repeat-y scroll 0 0 transparent;
    margin-top: 15px;
    min-height: 800px;
    position: relative;
    width: 1000px;
}
.bd .side-nav {
    float: left;
    width: 183px;
}
.bd .side-nav .more {
    color: #4576B3;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0 15px 28px;
}
.bd .main {
    
}
.bd .main .content {
    float: left;
    position: relative;
    width: 758px;
}
.bd .main .ref-content {
    float: right;
    width: 241px;
}
.bd .main .ref-content .ref-wrapper {
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    width: 210px;
}
.content .pagination {
    padding: 15px;
}
a {
        text-decoration: none;
        color: #3E62A6;
        outline: 0 none;
}
a:hover{
        color:#CC0000;
        text-decoration:none;
}
.post {
        border-bottom: 1px solid #EEEEEE;
        margin-bottom: 0px;
        overflow: hidden;
        padding-bottom: 0px;
}
.pagination {
    margin: 20px 0 0;
}
.pagination p {
    float: left;
    font-size: 13px;
    margin: 5px 0 0;
}
.pagination .button-blue {
    background: none repeat scroll 0 0 #407ACC;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    margin-left: 10px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
.pagination .button-blue:hover {
    background: none repeat scroll 0 0 #084B91;
}
.pagination .button-blue.end {
    background: none repeat scroll 0 0 #CCCCCC;
    cursor: default;
}
.ref-content .link-ref-content {
    overflow: hidden;
}
.ref-content .link-ref-content .link-title {
    color: #1E1E1E;
    font-size: 13px;
    margin: 0 0 10px;
}
.ref-content .link-ref-content .link-img {
    display: block;
    margin: 0 0 10px;
    width: 195px;
}
.ref-content .link-ref-content .link-snippet {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 10px;
    max-height: 100px;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
}
.ref-content .link-ref-content .snippet-action .snapshot {
    background: url("../img/v2/snapshot.png") no-repeat scroll right center transparent;
    display: inline-block;
    float: right;
    height: 15px;
    width: 15px;
}
.ref-content .link-ref-content .snippet-action .snapshot:hover {
    background: url("../img/v2/snapshot-hover.png") no-repeat scroll right center transparent;
}
.ref-content .link-ref-content .snippet-action .take-note {
    background: url("../img/v2/write.png") no-repeat scroll right center #F7FAFA;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.ref-content .link-ref-content .snippet-action .take-note:hover {
    background: url("../img/v2/write-hover.png") no-repeat scroll right center #F7FAFA;
}
.ref-content .link-ref-content .link-note {
    font-size: 13px;
    line-height: 1.5;
    margin: 0 0 10px;
    padding: 10px;
    position: relative;
}
.ref-content .link-ref-content .link-note .side-arrow {
    border-color: transparent transparent #DDE0E4;
    border-style: solid;
    border-width: 0 5px 5px;
    display: block;
    left: 15px;
    position: absolute;
    top: -5px;
}
.ref-content .link-ref-content .link-note .note-edit {
    min-height: 20px;
    outline: medium none;
    overflow: hidden;
    word-wrap: break-word;
}
.ref-content .links-rcmd-wrapper > h5 {
    color: #1E1E1E;
    font-size: 14px;
    margin: 20px 0 15px;
}
.ref-content .links-rcmd-wrapper .rcmd-title {
    margin-bottom: 8px;
    padding-right: 20px;
    position: relative;
}
.ref-content .links-rcmd-wrapper a {
    color: #4576B3;
    font-size: 12px;
}
.ref-content .links-rcmd-wrapper .rcmd-add {
    bottom: 0;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 0;
    width: 15px;
}
.ref-content .links-rcmd-wrapper .rcmd-add i {
    background-position: -208px -1px;
    height: 15px;
    width: 15px;
}
.ref-content .links-rcmd-wrapper .rcmd-desc {
    color: #666666;
    font-size: 12px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.thumbnail_box {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    float: left;
    height: 100px;
    margin: 4px 10px 8px 4px;
    padding: 4px;
    width: 140px;
}