*{margin:0;padding:0;}
/*tittle*/
#tl_public_header h2{font:bold 14px/20px "宋体";color:#666666;}
#tl_public_header h3{font-size:100%;}
#tl_public_header,#tl_more_game,#tl_more_service { font-size:12px; }
#tl_public_header ul ,#tl_more_game ul,#tl_more_service ul{list-style:none;}

/*header*/
#tl_public_header{width:100%;min-width:1003px;height:36px;background:url(/includes/images/common/topnav/head_bg.png) repeat-x top center;}
.tl_public_header_in{width:1003px;height:36px;margin:0 auto;}
.tl_header_left{width:677px;height:36px;float:left;}
.tl_header_right{height:36px;float:right;}
.tl_header_logo{width:92px;height:36px;float:left;}
.tl_header_logo a{width:92px;height:36px; background:url(/includes/images/common/topnav/logo.png) no-repeat;display:block;}

.tl_game_list{float:left;height:15px;margin:12px 5px 0 5px;width:473px;}
.tl_header_left ul{height:15px;}
.tl_header_left ul li{float:left;border-right:1px solid #cbcbcb;font:normal 12px/15px Arial, Helvetica, sans-serif;padding:0 8px;}
.tl_header_left ul li h3{font-weight:normal;float:left;display:block;}
.tl_header_left ul li a{text-align:center; color:#333;text-decoration:none;}
.tl_header_left ul li a:hover{color:#ff5500;}

.tl_hot{width:12px;height:11px;background:url(/includes/images/common/topnav/nh.gif) 0 0 no-repeat;float:left;font-size:1px;margin:2px 0 0 2px;}
.tl_new{width:12px;height:11px;background:url(/includes/images/common/topnav/nh.gif) 0 -11px ;float:left;font-size:1px;margin:2px 0 0 2px;}

.tl_game_more{width:97px;height:22px;float:left;margin:9px 0 0 5px;}
.tl_game_more a{width:97px;height:22px;background:url(/includes/images/common/topnav/sz.gif) no-repeat;display:block;color:#333;text-decoration:none; text-indent:15px;line-height:22px;}
.tl_game_more a:hover,.tl_game_more .current{width:97px;height:22px;background:url(/includes/images/common/topnav/sz.gif) 0 -22px no-repeat;display:block;color:#ff5500;text-decoration:none;}

.tl_header_right_in{height:36px;float:right;}
.tl_header_right_in dl{height:22px;margin:9px 0 0 0;float:right;_margin:8px 0 0 0;}
.tl_header_right_in dl dd{float:left;color:#464646;margin-right:15px;}
.tl_header_right_in dl dd .header_a1{text-decoration:none;color:#464646;line-height:22px;}
.tl_header_right_in dl dd .header_a1:hover{color:#ff5500;}
.tl_header_right_in dl dd .header_a2{text-decoration:none;color:#ff5500;line-height:22px;}
.tl_header_right_in dl dd .header_a3{width:71px;height:22px;background:url(/includes/images/common/topnav/sz.gif) 0 -44px no-repeat;display:block;line-height:22px;text-indent:5px;color:#464646;text-decoration:none;}
.tl_header_right_in dl dd .header_a3:hover,.tl_header_right_in dl .current .header_a3 {background:url(/includes/images/common/topnav/sz.gif) 0 -66px no-repeat;}
.tl_header_right_in dl .login_after{line-height:22px;}
.tl_header_right_in dl .login_after a{text-decoration:none;color:#464646;}
.tl_header_right_in dl .login_after a:hover{color:#ff5500;}
.tl_header_right_in dl .login_after .text_nowrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:60px;font-weight:bold;float:left;color:#333333;line-height:22px;}
.tl_header_right_in dl .login_after span{float:left;line-height:22px;padding:0 5px;}
.tl_header_right_in dl .login_after .sp_1{font-size:9px;padding:0 5px;}
.tl_header_right_in dl .login_after img{float:left;padding:7px 2px 0 5px;}

/*moreGame*/
#tl_more_game{width:286px;height:330px;overflow:hidden;margin:0 auto;position:absolute;z-index:9999;}
.tl_more_game_tm{width:285px;height:330px;background:#000;filter:alpha(opacity=25);-moz-opacity:0.25;-khtml-opacity:0.25;opacity: 0.25;}
.tl_more_game_bg{width:277px;height:320px;border:1px solid #676767;position:relative;background:#FFFFFF;margin:-326px 0 0 3px;}
.tl_more_game_colose{width:21px;height:21px;float:right;margin:-283px 0 0 0;z-index:999;position:relative;}
.tl_more_game_colose a{width:21px;height:21px;background:url(/includes/images/common/topnav/closed.png) no-repeat;display:block;}
.tl_more_game_colose a:hover{background:url(/includes/images/common/topnav/closed.png) 0 -21px no-repeat;}

.online_game{width:138px;height:320px;float:left;border-right:1px solid #e5e5e3;}
.online_game_top{width:138px;height:24px;border-bottom:1px solid #cacac7;}
.online_game_top div{width:136px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.online_game_main{width:138px;height:266px;float:left;}


.web_game{width:138px;height:291px;float:left;}
.web_game_top{width:138px;height:24px;border-bottom:1px solid #cacac7;}
.web_game_top div{width:136px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.web_game_main{width:138px;height:266px;float:left;}

.web_game_main ul{margin:5px 0 0 12px;display:inline-block;}
.web_game_main ul li{height:16px;text-indent:20px;margin:7px 0 0 0;line-height:16px;*margin-top:4px;}
.web_game_main ul li a{color:#464646; text-decoration:none;display:block;float:left;}
.web_game_main ul li a:hover{color:#ff5500;text-decoration:underline;}


/*moreService*/
#tl_more_service{width:557px;height:330px;overflow:hidden;margin:0 auto;position:absolute;z-index:9999;}
.tl_more_service_tm{width:555px;height:310px;background:#000;filter:alpha(opacity=25);-moz-opacity:0.25;-khtml-opacity:0.25;opacity: 0.25;}
.tl_more_service_bg{width:546px;height:301px;border:1px solid #676767;position:relative;background:#FFFFFF;margin:-306px 0 0 3px;}
.woniu_club{width:135px;height:300px;float:left;border-right:1px solid #e5e5e3;}
.woniu_club_top{width:135px;height:24px;border-bottom:1px solid #cacac7;}
.woniu_club_top div{width:133px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.woniu_club_main{width:135px;height:250px;float:left;}
.woniu_club_main ul{margin:2px 0 0 12px;display:inline-block;}
.woniu_club_main ul li{height:16px;margin:5px 0 0 0;line-height:15px;}
.woniu_club_main ul li a{color:#464646; text-decoration:none;}
.woniu_club_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.safe_kefu{width:136px;height:300px;float:left;border-right:1px solid #e5e5e3;}
.anquan{width:136px;height:164px;}
.safe_kefu_top{width:136px;height:24px;border-bottom:1px solid #cacac7;}
.safe_kefu_top div{width:134px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.anquan .safe_kefu_main{width:136px;height:135px;float:left;}
.anquan .safe_kefu_main ul{margin:2px 0 0 12px;display:inline-block;}
.anquan .safe_kefu_main ul li{height:16px;margin:7px 0 0 0;line-height:16px;}
.anquan .safe_kefu_main ul li a{color:#464646; text-decoration:none;}
.anquan .safe_kefu_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.kefu{width:136px;height:115px;border-top:1px solid #cacac7;}
.kefu .safe_kefu_main{width:136px;height:88px;float:left;}
.kefu .safe_kefu_main ul{margin:2px 0 0 12px;display:inline-block;}
.kefu .safe_kefu_main ul li{height:16px;margin:7px 0 0 0;line-height:16px;}
.kefu .safe_kefu_main ul li a{color:#464646; text-decoration:none;}
.kefu .safe_kefu_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.zhanghao_shop{width:135px;height:300px;float:left;border-right:1px solid #e5e5e3;}
.zhanghao{width:135px;height:164px;}
.zhanghao_shop_top{width:135px;height:24px;border-bottom:1px solid #cacac7;}
.zhanghao_shop_top div{width:133px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.zhanghao .zhanghao_shop_main{width:135px;height:135px;float:left;}
.zhanghao .zhanghao_shop_main ul{margin:2px 0 0 12px;display:inline-block;}
.zhanghao .zhanghao_shop_main ul li{height:16px;margin:7px 0 0 0;line-height:16px;}
.zhanghao .zhanghao_shop_main ul li a{color:#464646; text-decoration:none;}
.zhanghao .zhanghao_shop_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.shangcheng{width:135px;height:115px;border-top:1px solid #cacac7;}
.shangcheng .zhanghao_shop_main{width:136px;height:88px;float:left;}
.shangcheng .zhanghao_shop_main ul{margin:2px 0 0 12px;display:inline-block;}
.shangcheng .zhanghao_shop_main ul li{height:16px;margin:7px 0 0 0;line-height:16px;}
.shangcheng .zhanghao_shop_main ul li a{color:#464646; text-decoration:none;}
.shangcheng .zhanghao_shop_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.pay_pingtai{width:136px;height:281px;float:left;}
.chongzhi{width:136px;height:164px;}
.pay_pingtai_top{width:136px;height:24px;border-bottom:1px solid #cacac7;}
.pay_pingtai_top div{width:134px;height:24px;background:url(/includes/images/common/topnav/tk_top.png) repeat-x; margin:0 auto;color:#707070;font:bold 12px/24px "宋体";text-indent:10px;}
.chongzhi .pay_pingtai_main{width:136px;height:135px;float:left;}
.chongzhi .pay_pingtai_main ul{margin:2px 0 0 12px;display:inline-block;}
.chongzhi .pay_pingtai_main ul li{height:16px;margin:7px 0 0 0;line-height:16px;}
.chongzhi .pay_pingtai_main ul li a{color:#464646; text-decoration:none;}
.chongzhi .pay_pingtai_main ul li a:hover{color:#ff5500;text-decoration:underline;}

.pingtai{width:136px;height:115px;border-top:1px solid #cacac7;}
.pingtai .pay_pingtai_main{width:136px;height:88px;float:left;}
.pingtai .pay_pingtai_main ul{margin:2px 0 0 12px;display:inline-block;}
.pingtai .pay_pingtai_main ul li{height:16px;margin:5px 0 0 0;line-height:15px;}
.pingtai .pay_pingtai_main ul li a{color:#464646; text-decoration:none;}
.pingtai .pay_pingtai_main ul li a:hover{color:#ff5500;text-decoration:underline;}
